.BotaoTema{
    padding: 9px;
    margin: 0 8px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

.PrimeiroTema{
    background: hsl(223, 31%, 20%);
}

.SegundoTema{
    background: white;
}

.TerceiroTema{
    background: purple;
}

.Selecionado{
    border: solid;
    border-color: rgb(56, 177, 0);
}